conexion.py
/venv/
.env
__pycache__
database\__pycache__
archivo.xlsx
Carga_Quadminds_yyyymmdd-hh24miss.xlsx
resumen_vehiculos_portal_yyyymmdd.xlsx
excel\Carga_Quadminds_tamano_yyyymmdd-hh24miss.xlsx
nombre_ruta.xlsx
excel/prueba_beetrack.xlsx
excel/pedidos_con_fecha_de_compromiso_sin_despacho.xlsx
excel/carga_easy.xlsx
excel/QuadMinds_Pedidos_Planificados_2023-07-28_Salida_1.xls
excel/00030-1091-20230801.xlsx
excel/QuadMinds_Pedidos_Planificados_2023-08-07_Con_error.xls
*.pyc
*.pyc
*.xlsx
excel/etiquetas_carga.xlsx
